{% extends "administration/docteur/controleDocteur.html.twig" %}

{% block contenu %}
    <h1>Dentiste</h1>
        <div class="row mt-4">
        <div class="col-9 mx-auto">
            <table class="table text-center">
                    <thead class="table-danger">
                        <td>Patient n°</td>
                        <td>Nom</td>
                        <td>Prenom</td>
                        <td>Adresse-mail</td>
                        <td>Profession</td>
                    </thead>
                {% for repo in reponse %}
                <tbody>
                    <td>{{ repo.id }}</td>
                    <td>{{ repo.nom }}</td>
                    <td>{{ repo.prenom }}</td>
                    <td>{{ repo.contact }}</td>
                    <td>{{ repo.profession }}</td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
