{% extends 'administration/docteur/controleDocteur.html.twig' %}

{% block contenu %}
    <div class="text-right mt-2">
        <a href="{{ path('generaliste')}}" class="btn btn-success nav-item ml-1 mr-5">Retour</a>
    </div>
        
    <div class="row mt-4">
        <div class="col-9 mx-auto">
                <h2>Patient n°{{ pats.id }}</h2>
            <table class="table text-center">
                    <thead class="table-danger">
                        <td>Nom</td>
                        <td>Prenom</td>
                        <td>Adresse-mail</td>
                        <td>Profession</td>
                    </thead>
                <tbody>
                    <td>{{ pats.nom }}</td>
                    <td>{{ pats.prenom }}</td>
                    <td>{{ pats.contact }}</td>
                    <td>{{ pats.profession }}</td>
                </tbody>
            </table>
        </div>
    </div>
    

{% block stock %}

    {{form_start(diagnostic) }}

            <div class="col-6 mx-auto">
                <div class="p-3 mb-2 bg-info text-dark">
                    <fieldset class="border p-2">
                            <div class="row g-3">
                                <div class="col-md-6">    
                                    {{form_row(diagnostic.pressionArterielle, {'attr':{'class': "form-control"}})}} 
                                </div>
                                <div class="col-md-6">    
                                    {{form_row(diagnostic.gorge, {'attr':{'class': "form-control"}})}} 
                                </div>
                                <div class="col-md-6">    
                                    {{form_row(diagnostic.tympans, {'attr':{'class': "form-control"}})}} 
                                </div>
                                <div class="col-md-6">    
                                    {{form_row(diagnostic.palpation, {'attr':{'class': "form-control"}})}} 
                                </div>
                                <div class="col-md-6">    
                                    {{form_row(diagnostic.auscultation, {'attr':{'class': "form-control"}})}} 
                                </div>
                                <div class="col-md-6">    
                                    {{form_row(diagnostic.percussion, {'attr':{'class': "form-control"}})}} 
                                </div>
                            </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-danger" value="Enregistrer">
                                </div> 
                    </fieldset>
                </div>   
            </div>
     {{form_end(diagnostic)}}
{% endblock %}  
    
            
{% endblock %}