{% extends 'administration/docteur/controleDocteur.html.twig' %}

{% block contenu %}

    <div class="text-center mt-3">
        <h3>
            {{ pats.nom }}
            {{ pats.prenom }}
        </h3> 
    </div>

            {% for mal in mals %}
                <div class="text-center">
                    <div class="p-3 mb-3 bg-danger text-white"><h4>MALADIE: {{ mal.maladie }}</h4></div>
                </div>
            {% endfor %}
    {% for diagno in test %}
        <div class="row g-2">
            <div class="col-6 mx-auto">
                <div class="text-center">
                    <label>Diagnostic du: </label> {{ diagno.createdAt | date("m/d/Y à h:i") }}
                </div>
        {% for test in tests %}
            <fieldset class="border p-2">
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Syptôme:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ test.symptome }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Antécédents:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ test.antecedents }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Traitements:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ test.traitements }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Température:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ test.temperature }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Poids:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ test.poids }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Longueurs:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ test.longueurs }}
                    </div>
                </div>
{% endfor %}

                <div class="col-md-6">
                    <div class="text-center">
                        <label>Préssion Artérielle:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ diagno.pressionArterielle }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Observation du gorge:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ diagno.gorge }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Observation du tympans:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ diagno.tympans }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Palpation:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ diagno.palpation }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Auscultation:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ diagno.auscultation }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <label>Percussion:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{ diagno.percussion }}
                    </div>
                </div>
            </div>
            </fieldset>
        </div>
    
{% endfor %}


        
                <div class="col-6 mx-auto">
                    <div class="p-3 mb-2 bg-info text-dark">
                    {{form_start(medoc)}}
                    <fieldset class="border p-2">
                        <legend class="w-auto">Médicament</legend>
                            <div class="row g-3">
                                <div class="col-md-12">  
                                    <div class="text-center">
                                        <label>Réference: </label> {{ reference }}
                                    </div>          
                                </div>
                                <div class="col-md-12">            
                                    {{form_row(medoc.medicament, {'attr':{'class': "form-control"}})}}
                                </div>
                                <div class="col-md-12">
                                    {{form_row(medoc.delai, {'attr':{'class': "form-control"}})}}
                                </div>
                                <div class="col-md-12">
                                    {{form_row(medoc.description, {'attr':{'class': "form-control"}})}}
                                </div>
                            </div>
                    </fieldset>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Enregistrer">
                        </div>
                    {{form_end(medoc)}}
                    </div>  
                </div>                  

{% endblock %}